{{? it.en.is_submenu }}
<tr class="menu-folder" id="folder-{{=it.folder_id}}">
{{??}}
<tr class="search-engine" id="search-engine-{{=it.id}}">
{{?}}
    <td class="drag-target" data-i18n-title="drag_to_reorder"></td>
    <td>
        <input type="text" class="name" value="{{! it.en.name }}" data-i18n-placeholder="engine_name_placeholder">
    </td>
    <td>
        <div class="url-field">
            {{? it.en.is_submenu }}
                <input type="text" class="url" value="{{! it.en.url }}" data-i18n-placeholder="submenu_url_placeholder">
            {{??}}
                <input type="text" class="url" value="{{! it.en.url }}" data-i18n-placeholder="engine_url_placeholder">
            {{?}}
            <button type="button" class="url-expand" data-i18n-title="edit_url_title"></button>
        </div>
    </td>
    <td>
        <input class="icon_url" type="text" data-i18n-placeholder="icon_url_placeholder" value="{{! it.en.icon_url || '' }}">
    </td>

    {{#def.engine_options}}
</tr>
