<tr class="menu-separator">
    <td class="drag-target" data-i18n-title="drag_to_reorder"></td>
    <td colspan="3"><div class="separator-bg" data-i18n-title="separator"></div></td>
    {{#def.engine_options}}
</tr>
